// Metro 
@font-face {
   font-family: 'Metropolis';
   src: url('../font/Metropolis-SemiBold.woff2') format('woff2'),
    url('../font/Metropolis-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Metropolis';
   src: url('../font/Metropolis-Bold.woff2') format('woff2'),
       url('../font/Metropolis-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Metropolis';
   src: url('../font/Metropolis-Regular.woff2') format('woff2'),
       url('../font/Metropolis-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Metropolis';
   src: url('../font/Metropolis-Medium.woff2') format('woff2'),
       url('../font/Metropolis-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Metropolis';
   src: url('../font/Metropolis-ExtraBold.woff2') format('woff2'),
       url('../font/Metropolis-ExtraBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

// Proxima 
@font-face {
   font-family: 'Proxima Nova';

   src: url('../font/ProximaNova-Regular.woff2') format('woff2'),
       url('../font/ProximaNova-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
