.accordion_contents-img{
   svg{
      stroke: #565660 !important;
   }
}
.accordion_contents-title{
   color: #565660 !important;
}
.content_text{
   p{
         color: #565660 !important;

   }

}