.need_content-title {
   color: #1E1E1E !important;
}
.need_text-title{
   color: #1E1E1E !important;
}
.need_text-sub{
   color: #1E1E1E !important;

}
.need_item-img{
   background: #1EE1B3 !important; 
}